<!DOCTYPE html>
<html ng-app="DiveSiteApp" id="dsApp">
	<head>
        <link rel="stylesheet" crossorigin="anonymous" href="{{ url_for('static', filename='angularMultipleSelect/build/multiple-select.css') }}">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lokijs/1.3.16/lokijs.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="{{ url_for('static', filename='angularMultipleSelect/build/multiple-select.js') }}"></script>

        <script src="{{ url_for('static', filename='main.js') }}"></script>

	</head>
<style>
th, td {
    padding: 5px;
}

.center-div
{
     margin: 0 auto;
     width: 1000px;
}

.form-item-container
{
    opacity: .6;
}



.bgimg {
    background-image: url('{{ url_for('static', filename='diveheader3.jpg') }}');
    background-size: 100%;
}

</style>

    <body ng-controller="DiveSiteController">
        <!-- url('../images/divbg.png');-->

        <br>
        <br>
        <div class="bgimg">
        <br>
        <div class="center-div" width="250px">
        <form name="multipleSelectForm" novalidate>
            <div ng-class="{'has-error' : multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty, 'has-success' : !multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty}" >
                <label>Choose a divesite that you have enjoyed from the dropdown.</label>
                <multiple-autocomplete ng-model="selectedList" name="multipleSelect" required="true"
                api-url="http://0.0.0.0:5000/getDiveSite" object-property="regionAndName"
                               suggestions-arr="" after-select-item="afterSelectItem" after-remove-item="afterRemoveItem" >
                </multiple-autocomplete>

                <span ng-show="multipleSelectForm.multipleSelect.$invalid && multipleSelectForm.multipleSelect.$dirty" class="ng-hide">
                    <p class="error-msg" ng-show="multipleSelectForm.multipleSelect.$error.required">Please select something from multiple select field</p>
                </span>

                <br/>
                <button type="button" class="btn btn-default" ng-click="onSubmit()">Suggest Divesites</button>
            </div>
        </form>
        </div>
        </br>
        </br>
    </br>
        </div>
        <br/>
        <br/>

        <div class="center-div" width="250px">
            <label>Selected sites :          <br />
            </label>
            <!--{% raw %}-->
            <!--{{ similarAdjectives }}-->
            <!--{% endraw %}-->



            <div id="SelectedSites">
                <table id="SelectedSitesTable" border="0" width="100%">
                        <tr>
                            <!--<td width="5"><b>Num</b></td>-->
                            <!--<td width="20"><b>Region</b></td>-->
                            <!-- <td width="30"><b>Site Name</b></td> -->
                            <!--<td width="45"><b>Description</b></td>-->
                        </tr>

                    </table>
            </div>

        </div>
        <br>

        <div class="center-div" width="250px">
            <label>Suggested sites :          <br />
            </label>
            <div id="SuggestedSites">
                <table id="SuggestedSitesTable" border="0" width="100%">
                        <!--<tr>-->
                            <!--<td width="5"><b>Num</b></td>-->
                            <!--<td width="20"><b>Region</b></td>-->
                            <!--<td width="30"><b>Site Name</b></td>-->
                            <!--<td width="45"><b>Description</b></td>-->
                        <!--</tr>-->

                    </table>
            </div>

        </div>

    </body>
